<h1>Información de cada usuario</h1>
{{#each users}}
  <div class="users-list">
    <ul>
      <li><span>Nombre:</span> {{full_name}}</li>
      <li><span>Email:</span> {{email}}</li>
      <div class="btn-role">
        <li id="message-{{_id}}"><span>Rol:</span> {{role}}</li>
        <button type="button" onclick="changeUserRole('{{_id}}')">Cambiar de rol</button>
      </div>
      <button type="button" onclick="deleteUser('{{_id}}')">Eliminar usuario ❌</button>
    </ul>
  </div>
{{/each}}