    <h1>Carrito de Compras</h1>
    {{#if userData}}
      <h2>Usuario: {{userData.user}}</h2>
      <h2>Rol: {{userData.role}}</h2>
      <h2>ID del Carrito: {{userData.cart}}</h2>
    {{/if}}
    <hr>
    {{#if currentCart}}
      <div>
        <h2>Productos en el carrito:</h2>
        <div class="cart-list">
          {{#each currentCart.products}}
            <div class="product-cart">
              <h3>{{this.idProduct.title}}</h3>
              <p>Descripción: {{this.idProduct.description}}</p>
              <p>Código: {{this.idProduct.code}}</p>
              <p>Precio: {{this.idProduct.price}}</p>
              <p>Cantidad: {{this.quantity}}</p>
              <div>
                <button type="button" onclick="removeProduct('{{../currentCart._id}}', '{{this.idProduct._id}}')">ELIMINAR ❌</button>
              </div>
            </div>
          {{/each}}
        </div>
            {{#if currentCart.products}}
            <div class="btn-empty">
              <button type="button" onclick="emptyCart('{{currentCart._id}}')">VACIAR CARRITO</button>
            </div>
            {{/if}}
      </div>
    {{else}}
      <p>No tienes productos en tu carrito.</p>
    {{/if}}
