<div class="products-list">
  {{#each products}}
    <div class="product-card-home">
      <img src="/multer/products/images/{{thumbnail}}" alt="{{title}}" />
      <ul>
        <li><span>{{title}}</span> {{description}}</li>
        <li><span>$</span> {{price}}</li>
      </ul>
    </div>
  {{/each}}
</div>