<div>
  <h1>Products:</h1>
</div>
{{#each paginatedProducts.docs}}
  <div>
    <h2>{{this.title}}</h2>
    <ul>
      <li>{{this.description}}</li>
      <li>{{this.code}}</li>
      <li>{{this.price}}</li>
      <li>{{this.stock}}</li>
      <li>{{this.category}}</li>
      <li>{{this.thumbnail}}</li>
      <li>{{this.status}}</li>
      <li>{{this.id}}</li>
    </ul>
    <div>
      <button>Add to Cart</button>
    </div>
  </div>
{{/each}}

<div>
  {{#if paginatedProducts.hasPrevPage}}
    <a href="/products?page={{paginatedProducts.prevPage}}">Anterior</a>
  {{/if}}

  <span>Página
    {{paginatedProducts.page}}
    de
    {{paginatedProducts.totalPages}}</span>

  {{#if paginatedProducts.hasNextPage}}
    <a href="/products?page={{paginatedProducts.nextPage}}">Siguiente</a>
  {{/if}}
</div>